/******************************************************************


	------------------------
	-- TABLE OF CONTENTS --
	------------------------
	
	--  01. Basic
	--  02. Preloader
    --  03. Hero
    --  04. Hero --> Front Content
    --  05. Hero --> Background Content
    --  06. Portfolio
    --  07. Footer
    --  08. Page --> About
    --  09. Page --> Portfolio Item Type B
    --  10. Page --> Portfolio Item Type B
 
 
 ******************************************************************/




/** 1. Basic
*******************************************************************/

html
{
    font-size: 10px !important;
}

body
{
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-style: normal;

    color: #fff;
    background: #0c0c0c;

    -webkit-font-smoothing: antialiased;
}

body.contains-hero
{
    padding-top: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a
{
    font-family: 'Playfair Display', serif;
    font-weight: normal;

    color: #fff;
}

h1
{
    font-size: 10rem;
}

h2
{
    font-size: 5rem;
}

h3
{
    font-size: 4rem;
}

h4
{
    font-size: 3rem;
}

h5
{
    font-size: 2rem;
}

h6
{
    font-size: 1.8rem;
}

p
{
    font-size: 1.6rem;
}

a,
a:hover,
a:focus
{
    cursor: pointer;
    -webkit-transition: all 300ms ease;
         -o-transition: all 300ms ease;
            transition: all 300ms ease;
    text-decoration: none;
}

a:hover
{
    color: #fff;
}

.navigation-button
{
    position: fixed;
    z-index: 10;
    top: 10%;
    right: 0;

    cursor: pointer;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.navigation-button p
{
    font-size: 2.2rem;
    font-weight: 400;

    margin: 0;
    padding: .6em 3em .6em 1.8em;

    -webkit-transition: .15s ease;
         -o-transition: .15s ease;
            transition: .15s ease;
    letter-spacing: .01em;

    color: #111;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background: #fff;
}

.navigation-button:hover p
{
    padding: .6em 4em .6em 1.8em;
}

@media (max-width:700px)
{
    html
    {
        font-size: 8px !important;
    }
}

@media (max-width:500px)
{
    html
    {
        font-size: 6px !important;
    }
}

@media (orientation:landscape) and (max-height:420px)
{
    html
    {
        font-size: 8px !important;
    }
}



/** 2. Preloader
*******************************************************************/

.preloader
{
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #111;
}

.preloader.preloader-hidden
{
    height: 0;
    
    -webkit-transition: .5s ease .3s;
         -o-transition: .5s ease .3s;
            transition: .5s ease .3s;
}

.preloader .spinner
{
    position: absolute;
    top: 50%;

    width: 100%;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
    opacity: 1;
}

.preloader.preloader-hidden .spinner
{
    opacity: 0;
    
    -webkit-transition: .3s ease;
         -o-transition: .3s ease;
            transition: .3s ease;
}

.preloader .spinner > div
{
    display: inline-block;

    width: 18px;
    height: 18px;
    margin: 0 6px;

    -webkit-animation: spinner-bounce 1.4s infinite ease-in-out both;
            animation: spinner-bounce 1.4s infinite ease-in-out both;

    border-radius: 100%;
    background-color: #fff;
}

.preloader .spinner .bounce-1
{
    -webkit-animation-delay: -.32s;
            animation-delay: -.32s;
}

.preloader .spinner .bounce-2
{
    -webkit-animation-delay: -.16s;
            animation-delay: -.16s;
}

@-webkit-keyframes spinner-bounce
{
    0%,
    80%,
    100%
    {
        -webkit-transform: scale(0);
    }
    40%
    {
        -webkit-transform: scale(1.0);
    }
}

@keyframes spinner-bounce
{
    0%,
    80%,
    100%
    {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    40%
    {
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}



/** 3. Hero
*******************************************************************/

.hero
{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.hero .animation-container
{
    -webkit-transition: .5s ease;
         -o-transition: .5s ease;
            transition: .5s ease;
}

.hero .animation-container.animation-fade
{
    opacity: 0;
}

.hero .animation-container.animation-fade.run-animation
{
    opacity: 1;
}

.hero .animation-container.animation-fade-up
{
    -webkit-transform: translateY(10vh);
        -ms-transform: translateY(10vh);
            transform: translateY(10vh);

    opacity: 0;
}

.hero .animation-container.animation-fade-up.run-animation
{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}

.hero .animation-container.animation-fade-down
{
    -webkit-transform: translateY(-10vh);
        -ms-transform: translateY(-10vh);
            transform: translateY(-10vh);

    opacity: 0;
}

.hero .animation-container.animation-fade-down.run-animation
{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}

.hero .animation-container.animation-fade-left
{
    -webkit-transform: translateX(10vh);
        -ms-transform: translateX(10vh);
            transform: translateX(10vh);

    opacity: 0;
}

.hero .animation-container.animation-fade-left.run-animation
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);

    opacity: 1;
}

.hero .animation-container.animation-fade-right
{
    -webkit-transform: translateX(-10vh);
        -ms-transform: translateX(-10vh);
            transform: translateX(-10vh);

    opacity: 0;
}

.hero .animation-container.animation-fade-right.run-animation
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);

    opacity: 1;
}



/** 4. Hero --> Front Content 
*******************************************************************/

.hero .front-content
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.hero .front-content .container-mid
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    padding: 0 30px;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
}

.hero .front-content .container-mid h1
{
    font-weight: bold;

    margin-top: 0;
    margin-bottom: .24em;
}

.hero .front-content .container-mid p.subline
{
    font-size: 3rem;

    letter-spacing: .025em;
}



/** 5. Hero --> Background Content 
*******************************************************************/

.hero .background-content
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

.hero .background-content .background-content-inner
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;

    -webkit-transform: translate3d(-50%, -50%, 0px) !important;
            transform: translate3d(-50%, -50%, 0px) !important;
}

.hero .background-content.parallax-on .background-content-inner
{
    width: 110%;
    height: 110%;
}

.hero .background-content .background-overlay
{
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .6;
    background: #111;
}

.hero .background-content .background-img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/** 6. PORTFOLIO
*******************************************************************/

.portfolio
{
    padding: 0 30px;
}

.portfolio .item
{
    position: relative;

    display: block;
    overflow: hidden;

    max-width: 990px;
    margin: 0 auto 10rem auto;

    border: 6px solid #fff;
}

.portfolio .item:before
{
    display: block;

    padding-top: 56.25%;

    content: '';
}

.portfolio .item:last-child
{
    margin-bottom: 0;
}

.portfolio .item .item-cover
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
}

.portfolio .item i
{
    font-size: 2.2rem;
    line-height: 3em;

    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;

    width: 3em;
    padding: 0;

    -webkit-transition: .25s ease;
         -o-transition: .25s ease;
            transition: .25s ease;
    -webkit-transform: translate(100%,-50%);
        -ms-transform: translate(100%,-50%);
            transform: translate(100%,-50%);
    text-align: center;

    opacity: 0;
    color: #111;
    background: #fff;
}

.portfolio .item:hover i
{
    -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);

    opacity: 1;
}

/** 7. FOOTER
*******************************************************************/

.footer
{
    overflow: hidden;

    padding: 10rem 0;

    text-align: center;
}

.footer p
{
    font-size: 1.4rem;

    display: inline-block;

    margin: 0;
    margin-right: 1.4em;

    vertical-align: middle;
    letter-spacing: .05em;

    opacity: .85;
}

.footer i
{
    font-size: 2.6rem;
    line-height: 2.4em;

    display: inline-block;

    width: 2.4em;

    cursor: pointer;
    vertical-align: middle;

    color: #111;
    border-radius: 100%;
    background: #fff;
}

.footer p a
{
    font-weight: bold;
}


/** 8. Page --> About
*******************************************************************/

.about
{
    margin: 20rem 0 5rem 0;
}

.about .container-fluid
{
    max-width: 900px;
    padding: 0 30px;
}

.about h1
{
    margin-bottom: .6em;
}

.about h4
{
    margin-bottom: 1.4em;
}

.about p
{
    line-height: 2.4em;

    margin-bottom: 1.6em;
}

.about .social-links
{
    margin: 3rem 0 4rem 0;
    padding: 0;

    list-style: none;
}

.about .social-links li
{
    font-size: 2rem;

    display: inline-block;

    margin-right: 1em;
}

.about h6
{
    margin-bottom: .6em;
}


/** 9. Page --> Portfolio Item Type A
*******************************************************************/

.portfolio-item-a
{
    margin: 20rem 0 0 0;
}

.portfolio-item-a .container-fluid
{
    max-width: 900px;
    padding: 0 30px;
}

.portfolio-item-a h1
{
    margin-bottom: .25em;
}

.portfolio-item-a h4
{
    margin-bottom: 1.8em;
}

.portfolio-item-a p
{
    line-height: 2.4em;

    margin-bottom: 1.6em;
}

.portfolio-item-a .image-carousel
{
    margin-top: 6rem;
}


.portfolio-item-a .image-carousel .owl-item
{
    border: 5px solid #fff;
    border-left: none;
}


/** 10. Page --> Portfolio Item Type B
*******************************************************************/

.portfolio-item-b
{
    margin: 20rem 0 0 0;
}

.portfolio-item-b .container-fluid
{
    max-width: 900px;
    padding: 0 30px;
}

.portfolio-item-b h1
{
    margin-bottom: .25em;
}

.portfolio-item-b h4
{
    margin-bottom: 1.8em;
}

.portfolio-item-b p
{
    line-height: 2.4em;

    margin-bottom: 4em;
}

.portfolio-item-b img
{
    margin-bottom: 8rem;

    border: 5px solid #fff;
}

.portfolio-item-b img:last-child
{
    margin-bottom: 0;
}