
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(images/img01.jpg) repeat-x left top;
	text-align: justify;
	font: 13px Arial, Helvetica, sans-serif;
	color: #8E8C7D;
}

h1, h2, h3 {
	font: 1.82em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	color: #000000;
}

p, ol, ul {
	line-height: 1.67em;
}

a {
	color: #66B929;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}

#wrapper {
	height: 100%;
	background: url(images/img05.jpg) repeat-y left top;
}

#wrapper-bgtop {
	background: url(images/img02.jpg) no-repeat left top;
}

/* Header */

#header {
	width: 900px;
	height: 450px;
	padding: 0px 50px;
}

/* Logo */

#logo {
	float: left;
	padding: 10px 0px 0px 50px;
}

#logo h1 {
	margin: 0;
	height: 160px;
	padding: 10px 0 0 0px;
	text-transform: lowercase;
	letter-spacing: -2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 5em;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}

#logo p {
	margin: -100px 0 0 2px;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 24px;
}

#logo a {
	display: block;
	text-decoration: none;
	color: #ACFE6F;
}

/* Menu */

#menu {
	float: right;
	width: 300px;
}

#menu ul {
	margin: 0px;
	padding: 80px 0px 0px 0px;
	list-style: none;
}

#menu li {
	background: url(images/img03.gif) repeat-x left bottom;
}

#menu a {
	display: block;
	margin-left: 5px;
	padding: 15px 20px;
	background: url(images/img04.jpg) no-repeat left 24px;
	text-decoration: none;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 24px;
	color: #A9FE6B;
}

#menu a:hover, #menu .active a {
	color: #FFFFFF;
}

/* Page */


#page {
	width: 900px;
	padding: 20px 50px;
}

/* Content */

#content {
	float: left;
	width: 580px;
	margin-bottom: 10px;
}

/* Post */

.post {
	margin-top: 20px;
}

.post .date {
	float: left;
	width: 60px;
	height: 50px;
	margin: 0;
	margin-top: 3px;
	margin-right: 20px;
	padding-top: 10px;
	background: #EA8101;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}

.post .date b {
	margin: 0;
	padding: 0;
	display: block;
	margin-top: -5px;
	font-size: 24px;
	color: #FFFFFF;
	
}

.post .title {
	margin: 0;
	padding: 0px 0 0 0;
	margin-left: 10px;
	padding-left: 10px;
	font-size: 2.8em;
	color: #484647;
}

.post .title a {
	color: #484647;
}

.post .title h2 {
	padding: 0;
	margin: 0;
}

.post .hr1 {
}

.post .meta {
	margin: 0 0 30px 20px;
	padding: 0;
	line-height:normal;
	text-transform: uppercase;
	color: #434343;
}

.post .meta a {
	color: #434343;
}

.post .entry {
	margin: 0;
	padding: 0 0 20px 80px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 260px;
	padding-top: 20px;
	margin-bottom: 20px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 30px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0px 0px 0px 20px;
	padding: 4px 0px 4px 15px;
	background: url(images/img06.gif) no-repeat left 13px;
}

#sidebar li li a {
}

#sidebar h2 {
	padding: 10px 0px;
	margin: 0 0 6px 0;
	font-size: 1.8em;
	text-transform: capitalize;
	color: #484647;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar_wrap {
}

#calendar caption {
	padding: 10px 0px;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

#calendar table {
	width: 100%;
	border: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#calendar thead {
	background: #EA8101;
	text-align: center;
	color: #FFFFFF;
}

#calendar tbody td {
	border: 1px solid #C7C7C7;
	text-align: center;
}

#today {
	font-weight: bold;
}

#prev {
	padding-top: 10px;
}

#next {
	padding-top: 10px;
	text-align: right;
}

/* Footer */

#footer {
	width: 1000px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#footer a {
	text-decoration: none;
	font-size: 11px;
}

#legal {
	clear: both;
	margin: 0;
	padding: 10px 0px 10px 130px;
	font-size: 10px;
	color: #525252;
}

#legal a {
	text-decoration: none;
}
